services:
  server:
    build:
      context: ./server
      dockerfile: Dockerfile
    ports:
      - "5050:5050"
    container_name: express-link-shortener
    restart: on-failure

  client:
    build:
      context: ./client
      dockerfile: Dockerfile
    ports:
      - "5055:5055"
    container_name: next-link-shortener
    restart: on-failure
