name: ci

on:
  push:
    branches:
      - main

jobs:
  deployOnServer:
    runs-on: ubuntu-latest
    steps:
      - name: Setup SSH
        uses: webfactory/ssh-agent@v0.9.1
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}
      - name: Deploy on server
        run: |
          ssh -o StrictHostKeyChecking=no ${{ secrets.SERVER_USER }}@${{ secrets.SERVER_HOST }} << 'EOF'
            cd /home/pet/next-express-link-shortener
            git switch main
            git pull
            docker compose up -d --build
            echo y | docker system prune -fa
          EOF
